<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/跟奥巴马学编程/src/跟奥巴马学编程/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="跟奥巴马学编程.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="跟奥巴马学编程"/>
</launchConfiguration>
