<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/数组元素循环右移问题/src/数组元素循环右移问题/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="数组元素循环右移问题.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="数组元素循环右移问题"/>
</launchConfiguration>
